.bottom-row {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .top-row {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .info-box {
    background-color: #b3b1d86f;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10PX;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    ;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  h1 {
    text-decoration: underline;
  }
  
  .info-heading li{
    margin: 0;
    padding: 0.5em;
    list-style: none;
  }
  
  .bullet-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    text-decoration: 5px solid #ff0000;
    padding: 0.5em;
  }

  .back {
    position: absolute;
    top: 65px;
    left: 5px;
    background-color: #b3b1d8;
  }